@model IEnumerable<WebStone.Models.DeckViewModel>
@{

    Layout = MVC.Shared.Views._Layout;
}
@foreach(var deck in Model)
{
    <div>
        <h3>@deck.Name</h3>
         <h4>@deck.Hero</h4>
    </div>

}